* {
    margin: 0;
    padding: 0;
}

.main {
    width:100%;
    height: 100vh;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(images/bg2.jpg);
    background-position: center;
    background-size: cover;
    
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    padding-left:10px;
    padding-top: 20px;
    color: rgb(226, 198, 43);
    font-size: 32px;
    float: left;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}

.ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ul li{
    list-style:none;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 12px;
    font-size: 14px;
}
.ul li a{
    text-decoration:none;
    color: rgb(242, 243, 249);
    font-family: Arial;
    font-weight:3px;
    transition: 0.4s ease-in-out;
}
.ul li a:hover{
    color:burlywood;
}
    
    